<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.hinge_angle" android:required="false" />
    <queries><package android:name="moe.shizuku.privileged.api" /></queries>
    <application android:theme="@style/AppTheme" android:label="折光 Fold" android:icon="@drawable/ic_foldlight"
        android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true" android:resizeableActivity="true">
        <provider android:name="rikka.shizuku.ShizukuProvider" android:authorities="${applicationId}.shizuku"
            android:exported="true" android:multiprocess="false" android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <activity android:name=".MainActivity" android:launchMode="singleTask" android:screenOrientation="nosensor" android:exported="true" android:resizeableActivity="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|uiMode|keyboardHidden">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
